.product {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    align-content: center;
}

.products {
    display: block;
    /* margin: 3%; */
    /* padding: 2%; */
    margin-left: 5%;
    margin-top: 90px;
    align-content: center;
}

#addToCart {
    margin-left: 20px;
}

#addProduct {
    float: right;
    display: block;
    margin: 1%;
    padding: 1%;;
}

/* .add-product-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
} */
