<div class="no_products" *ngIf = "cartProducts.length === 0">
    <h2>The cart is empty!!</h2>
    <p>What about adding few essentials from products section?</p>
</div>
<div id="total_price" *ngIf = "cartProducts.length !== 0">
  <p id="totalPrice"><b>Total Price = {{totalPrice}} INR</b></p>
  <button class="btn btn-primary" (click)="createOrder()">Place Order</button>
</div>
<div>
    <div id="cartProduct" *ngFor = "let product of cartProducts">
        <app-product [product] = "product"></app-product><br>
        <app-item-count id="itemCount"
            [product] = "product"
            (priceIncrease)="priceIncrease($event)" 
            (priceDecrease)="priceDecrease($event)"
            >
        </app-item-count>
        <button (click)='onRemove(product.productId)' id="remove" class="btn btn-danger" >Remove</button>
    </div>
</div>