<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1 class="text-center">
        Welcome to the Stationary-Booking-App
    </h1>
    <hr>
    <div class="container form-container">
        <div class="col-md-4">
            <h3 class="text-center">Customer SignUp</h3>
            <form class="">
                <div class="form-group">
                    <label for="customerName">customer Name: </label>
                    <input [(ngModel)]="customer.customerName" type="text" placeholder="customer Name"
                        class="form-control" id="customerName" name="customerName">
                </div>
                <div class="form-group">
                    <label for="customerId">customer email: </label>
                    <input [(ngModel)]="customer.customerEmail" type="text" placeholder="customer email"
                        class="form-control" id="customerEmail" name="customerEmail">
                </div>
                <div class="form-group">
                    <label for="customerPassword">customer Password: </label>
                    <input [(ngModel)]="customer.customerPassword" type="password" placeholder="customer Password"
                        class="form-control" id="customerPassword" name="customerPassword">
                </div>
                <div class="align-self-center mx-auto">
                    <button class="btn btn-success" (click)="addNewCustomer()">ADD</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>