<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <hr>
    <div class="container form-container">
        <div class="col-md-4">
            <h3 class="text-center common-font">SignUp</h3>
            <form class="">
                <div class="form-group">
                    <label class="common-font" for="customerName">Name: </label>
                    <input [(ngModel)]="customer.customerName" type="text" placeholder="Your name"
                        class="form-control input-field common-font" id="customerName" name="customerName">
                </div>
                <div class="form-group">
                    <label for="customerId" class="common-font">Email: </label>
                    <input [(ngModel)]="customer.customerEmail" type="text" placeholder="Your email"
                        class="form-control common-font input-field" id="customerEmail" name="customerEmail">
                </div>
                <div class="form-group">
                    <label for="customerPassword" class="common-font">Password: </label>
                    <input [(ngModel)]="customer.customerPassword" type="password" placeholder="Your password"
                        class="form-control common-font input-field" id="customerPassword" name="Password">
                </div>
                <div class="align-self-center mx-auto common-font">
                    <button class="btn btn-success common-font" (click)="addNewCustomer()">SignUp</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>